* {
  box-sizing: border-box;
}

.container {
  width: 800px;
  margin: auto;
}

body {
  height: 100vh;
  color: white;
  font-family: 'Orbitron', sans-serif;
  background: url("../images/background.jpg") no-repeat fixed center;
  background-size: cover;
}

/* HEADER */

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h1 {
  font-size: 80px;
  font-weight: 800;
  color: white;
  padding-top: 40px;
}

header p {
  font-family: 'Roboto', sans-serif;
  line-height: 22px;
  max-width: 450px;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  text-align: center;
  background-color: #29AB87;
  border-radius: 12px;
  margin: 20px;
}

/* MAIN */

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(33.33% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.back {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  border-radius: 8px;
  background-color: lightblue;
  backface-visibility: hidden;
  object-fit: contain;
  -webkit-backface-visibility: hidden;
}

.front {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  border-radius: 8px;
  background-color: lightblue;
  object-fit: contain;
}

/* FOOTER */

footer div {
  display: flex;
  justify-content: center;
  padding: 20px;
}

footer p {
  padding: 10px;
  text-align: center;
  background-color: #29AB87;
  border-radius: 12px;
  max-width: 400px;
}